# Prepare sort-seq dataset for use in MAVE-NN

In [1]:
# Standard imports
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

# Insert mavenn at beginning of path
import sys
path_to_mavenn_local = '../../../../'
sys.path.insert(0,path_to_mavenn_local)

#Load mavenn and check path
import mavenn
print(mavenn.__path__)

# For testing
from mavenn.src.utils import vec_data_to_mat_data

['../../../../mavenn']

In [2]:
#experiment_name = 'full-500'
#experiment_name = 'full-150'
#experiment_name = 'full-0'
#experiment_name = 'rnap-wt'
experiment_name = 'crp-wt'

# Load raw data file
raw_df = pd.read_csv(mavenn.__path__[0] +
    '/examples/datasets/sort_seq/'+experiment_name+'/data.txt',
    index_col=[0],
    delim_whitespace=True)
print(len(raw_df))
raw_df.head()

45050

,ct_0,ct_1,ct_2,ct_3,ct_4,ct_5,ct_6,ct_7,ct_8,ct_9
seq,,,,,,,,,,
AAAAAAAGTGAGATGGCAATCTAATTCGGCACCCCAGGTTTTACACTTTATGCTTCCGGCTCGTATGTTGTGTGG,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
AAAAAAAGTGAGTTAGCTCACTAAGTTGGCACCCCAGGCTTTACACTTTATGCTTCCGGCTCGTATGTTGTGTGG,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
AAAAAACGAGAGTTAGGACGCTCATTAGGCACCCCAGGCTTTACACTTTATGCTTCCGGCTCGTATGTTGTGTGG,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
AAAAAACGTGAGATATCGCACTATTTTGGCACCCCAGGCTTTACACTTTATGCTTCCGGCTCGTATGTTGTGTGG,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
AAAAAAGGTGAGTTAGCTCTCGCATTCGGCACCCCAGGCTTTACACTTTATGCTTCCGGCTCGTATGTTGTGTGG,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [3]:
# # Refine contents of raw data file
# sequences = raw_df['seq'].values
# raw_df.columns = ['x','y','ct']
# raw_df['ct'] = raw_df['ct'].astype(int)
# raw_df.head()

raw_df.index.name='x'

In [4]:
# Pivot and set training/test data
# data_df = pd.pivot(raw_df, values='ct', index='x', columns='y').fillna(0).astype(int)
# data_df.columns.name = None

# # Get y_cols
# data_df.columns = [f'ct_{x}' for x in data_df.columns]
y_cols = list(raw_df.columns)

data_df = raw_df.astype(int).copy()
# Do all columns still sum to > 0?
print('rows summing to 0:', (data_df.values.sum(axis=1)==0).sum())
data_df.head()

rows summing to 0: 0

,ct_0,ct_1,ct_2,ct_3,ct_4,ct_5,ct_6,ct_7,ct_8,ct_9
x,,,,,,,,,,
AAAAAAAGTGAGATGGCAATCTAATTCGGCACCCCAGGTTTTACACTTTATGCTTCCGGCTCGTATGTTGTGTGG,0,0,0,1,0,0,0,0,0,0
AAAAAAAGTGAGTTAGCTCACTAAGTTGGCACCCCAGGCTTTACACTTTATGCTTCCGGCTCGTATGTTGTGTGG,0,0,0,0,0,0,0,1,0,0
AAAAAACGAGAGTTAGGACGCTCATTAGGCACCCCAGGCTTTACACTTTATGCTTCCGGCTCGTATGTTGTGTGG,2,0,0,0,0,0,0,0,0,0
AAAAAACGTGAGATATCGCACTATTTTGGCACCCCAGGCTTTACACTTTATGCTTCCGGCTCGTATGTTGTGTGG,0,0,0,0,0,0,0,0,0,1
AAAAAAGGTGAGTTAGCTCTCGCATTCGGCACCCCAGGCTTTACACTTTATGCTTCCGGCTCGTATGTTGTGTGG,0,0,0,0,0,0,0,1,0,0

In [5]:
N = len(data_df)
training_frac=.8
np.random.seed(0)
data_df['training_set'] = (np.random.rand(N) < training_frac)
data_df.reset_index(inplace=True)
data_df.head()

,x,ct_0,ct_1,ct_2,ct_3,ct_4,ct_5,ct_6,ct_7,ct_8,ct_9,training_set
0,AAAAAAAGTGAGATGGCAATCTAATTCGGCACCCCAGGTTTTACAC...,0,0,0,1,0,0,0,0,0,0,True
1,AAAAAAAGTGAGTTAGCTCACTAAGTTGGCACCCCAGGCTTTACAC...,0,0,0,0,0,0,0,1,0,0,True
2,AAAAAACGAGAGTTAGGACGCTCATTAGGCACCCCAGGCTTTACAC...,2,0,0,0,0,0,0,0,0,0,True
3,AAAAAACGTGAGATATCGCACTATTTTGGCACCCCAGGCTTTACAC...,0,0,0,0,0,0,0,0,0,1,True
4,AAAAAAGGTGAGTTAGCTCTCGCATTCGGCACCCCAGGCTTTACAC...,0,0,0,0,0,0,0,1,0,0,True

In [6]:
# Remove entries where ct is 0
ix = data_df[y_cols].sum(axis=1) > 0
print(f'Dropping {sum(~ix)} columns with 0 counts.')
data_df = data_df[ix].reset_index(drop=True)
data_df.head()

Dropping 0 columns with 0 counts.

,x,ct_0,ct_1,ct_2,ct_3,ct_4,ct_5,ct_6,ct_7,ct_8,ct_9,training_set
0,AAAAAAAGTGAGATGGCAATCTAATTCGGCACCCCAGGTTTTACAC...,0,0,0,1,0,0,0,0,0,0,True
1,AAAAAAAGTGAGTTAGCTCACTAAGTTGGCACCCCAGGCTTTACAC...,0,0,0,0,0,0,0,1,0,0,True
2,AAAAAACGAGAGTTAGGACGCTCATTAGGCACCCCAGGCTTTACAC...,2,0,0,0,0,0,0,0,0,0,True
3,AAAAAACGTGAGATATCGCACTATTTTGGCACCCCAGGCTTTACAC...,0,0,0,0,0,0,0,0,0,1,True
4,AAAAAAGGTGAGTTAGCTCTCGCATTCGGCACCCCAGGCTTTACAC...,0,0,0,0,0,0,0,1,0,0,True

In [7]:
# Assign to trianing and test sets
N = len(data_df)
training_frac=.8
np.random.seed(0)
r = np.random.rand(N)
test_frac = .2
val_frac = .2
ix_train = (test_frac + val_frac <= r)
ix_val = (test_frac <= r) & (r < test_frac + val_frac)
ix_test = (r < test_frac)
data_df['set'] = ''
data_df.loc[ix_train, 'set'] = 'training'
data_df.loc[ix_val, 'set'] = 'validation'
data_df.loc[ix_test, 'set'] = 'test'
assert all([len(x)>0 for x in data_df['set']])

# Shuffle data for extra safety
data_df = data_df.sample(frac=1).reset_index(drop=True)

# Order columns
data_df = data_df[['set'] + y_cols + ['x']]
data_df.head(20)

,set,ct_0,ct_1,ct_2,ct_3,ct_4,ct_5,ct_6,ct_7,ct_8,ct_9,x
0,validation,0,0,0,0,0,0,0,0,2,0,AATTAGCGTGACCTAGTTCACGCATAAGGCACCCCAGGCTTTACAC...
1,validation,0,0,0,0,0,0,0,0,0,1,AGTTATTGTGAGCTGGCTCTCAGATTAGGCACCCCAGGCTTTACAC...
2,validation,1,0,0,0,0,0,0,0,0,0,AATTTATGTGTGTTAGCCTACTACTTAGGCACCCCAGGCTTTACAC...
3,validation,0,0,0,0,0,1,0,0,0,0,AATAAATGGGAGTTATATCATTCATTGGGCACCCCAGGCTTTACAC...
4,training,0,0,0,0,0,0,0,0,2,0,AATTATTGTGAGGTAGCTCACCCCATAGGCACCCCAGGCTTTACAC...
5,validation,0,0,0,0,1,0,0,0,0,0,AATTAATGTCAATCGGCTCACTCCTTTGGCACCCCAGGCTTTACAC...
6,training,0,0,0,1,0,0,0,0,0,0,AACGATTGAGCGTTACCTCACTCAATAGGCACCCCAGGCTTTACAC...
7,test,0,0,1,0,0,0,0,0,0,0,AATTAATGTGACTTAGTGCACTCGTCGGGCACCCCAGGCTTTACAC...
8,test,0,1,0,0,0,0,0,0,0,0,AATTAATGTTAGTTCAATTCCTCATTAGGCACCCCAGGCTTTACAC...
9,validation,0,0,0,0,0,0,0,1,0,0,AATTAATGGGAATTAAGATTCTCTATAGGCACCCCAGGCTTTACAC...
10,training,0,0,0,0,0,0,0,1,0,0,AATGAATGTGAGCTTGATCAGTAATTAGGCACCCCAGGCTTTACAC...
11,training,0,1,0,0,0,0,0,0,0,0,AATTAAAGTGACTCGGCCAACTCAACAGGCACCCCAGGCTTTACAC...
12,training,0,0,0,0,0,0,0,1,0,0,AATTAATGTGGGTTAGCTCACTTATTAGGCACCCCAGGCTTTACAC...
13,training,0,0,0,0,0,0,0,1,0,0,AGTTAATGTGAGTTACATCACTCTTAGGGCACCCCAGGCTTTACAC...
14,training,0,0,0,0,1,0,0,0,0,0,ATTCCATCAGAGTTAGGTAACACTTTGGGCACCCCAGGCTTTACAC...
15,training,0,0,0,0,1,0,0,0,0,0,AACAAGAGTTAGATAGCTCACTCAGTAGGCACCCCAGGCTTTACAC...
16,validation,0,0,0,0,0,0,1,0,0,0,AATAAAAGTGATTTAGCTCAGTCTTTAGGCACCCCAGGCTTTACAC...
17,training,0,0,0,1,0,0,0,0,0,0,AAATAATGCCCTTTTGCTGATAGATTCGGCACCCCAGGCTTTACAC...
18,training,0,0,0,0,0,0,0,1,0,0,AATAAATGTGATATACCTCACTCAGTAGGCACCCCAGGCTTTACAC...
19,test,0,0,0,0,0,0,0,0,0,1,AATTTATGTGACTTAGCTCACTCTATAGGCACCCCAGGCTTTACAC...

In [8]:
# Show size of compressed dataset file
file_name = 'sortseq_'+experiment_name+'_data.csv.gz'
data_df.to_csv(file_name, compression='gzip', index=False)
print('df (zipped):')
!du -mh $file_name
!mv $file_name ../.

df (zipped):
472K	sortseq_crp-wt_data.csv.gz

In [9]:
mavenn.load_example_dataset()

Please enter a dataset name. Valid choices are:
"ace2rbd"
"gb1"
"mpsa"
"mpsa_replicate"
"sortseq"
"sortseq_crp-wt"
"sortseq_full-0"
"sortseq_full-150"
"sortseq_full-500"
"sortseq_rnap-wt"

In [10]:
# # Test loading
# loaded_df = mavenn.load_example_dataset('sortseq')
# loaded_df.head()

In [11]:
mavenn.load_example_dataset('sortseq_'+experiment_name)

,set,ct_0,ct_1,ct_2,ct_3,ct_4,ct_5,ct_6,ct_7,ct_8,ct_9,x
0,validation,0,0,0,0,0,0,0,0,2,0,AATTAGCGTGACCTAGTTCACGCATAAGGCACCCCAGGCTTTACAC...
1,validation,0,0,0,0,0,0,0,0,0,1,AGTTATTGTGAGCTGGCTCTCAGATTAGGCACCCCAGGCTTTACAC...
2,validation,1,0,0,0,0,0,0,0,0,0,AATTTATGTGTGTTAGCCTACTACTTAGGCACCCCAGGCTTTACAC...
3,validation,0,0,0,0,0,1,0,0,0,0,AATAAATGGGAGTTATATCATTCATTGGGCACCCCAGGCTTTACAC...
4,training,0,0,0,0,0,0,0,0,2,0,AATTATTGTGAGGTAGCTCACCCCATAGGCACCCCAGGCTTTACAC...
...,...,...,...,...,...,...,...,...,...,...,...,...
45045,training,0,0,0,1,0,0,0,0,0,0,AATGATTGTTAGTGAGCTCATTCGTTAGGCACCCCAGGCTTTACAC...
45046,training,0,0,0,0,0,3,0,0,0,0,AATTGTCTTGACTTATCTCATACATTAGGCACCCCAGGCTTTACAC...
45047,training,0,0,0,0,0,0,2,0,0,0,AATTAATTTGAGTAACCTGACTCAATAGGCACCCCAGGCTATACAC...
45048,training,0,0,0,0,1,0,0,0,0,0,AATTTATGTGAATGCGCTTACTCGTTAGGCACCCCAGGCTTTACAC...
45049,test,1,0,0,0,0,0,0,0,0,0,AATTAATCGATTTTAGCTCATACCGTGGGCACCCCAGGCTTTACAC...